body {
  background: rgb(252, 252, 177);
}
h1,
p {
  text-align: center;
  padding-top: 15px;
}
p {
  font-size: 14px;
}
.links {
  text-align: center;
}
.links a {
  margin: 0 10px;
  color: chocolate;
}
img {
  max-width: 600px;
  display: block;
  margin: 30px auto;
  border-radius: 10px;
}
